.topicos{
    background: var(--azul-degrade);
    padding: 1em;
}
.topicos__container{
    margin-bottom: 1em;
}
.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    padding: 1.5em;
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.topicos__lista-item{
    text-decoration: none;
    background-color: var(--laranja);
    margin: 0.5em;
    padding: 1em;
}
.topicos__lista-item__ancora{
    color: var(--branco);
    font-size: 0.9rem;
    font-weight: 700;
}
@media screen and (min-width: 728px){
    .topicos{
        padding: 0 5vw 0.5vw 5vw;
    }
}

@media screen and (min-width: 774px){
    .topicos{
        padding: 0 15vw 0.5vw 15vw;
    }
}
@media screen and (min-width: 1000px){
    .topicos{
        padding: 0 20vw 0.5vw 20vw;
    }
}

@media screen and (min-width: 1024px) {
    .topicos__container{
        padding-bottom: .5em;
    }
    .topicos{
        padding: 0 5vw 0 5vw;
    }
    .topicos__lista-item{
        padding: 1.5em 2em;
        margin: 0 1em 1em 0;
    }
    .topicos__lista-item__ancora{
        font-size: 1.5rem;
    }
    .topicos__lista-item:hover{
        background-color: var(--laranja-efeito);
    }
    
}
@media screen and (min-width: 1728px) {
    .topicos{
        padding: 0 20vw;
    }
    .topicos__lista{
        margin: 0 5vw 0 5vw;
    }
    .topicos__titulo{
        font-size: 2rem;
    }
    .topicos__lista-item{
        margin: 0 1em 1em 0;
    }
    .topicos__container{
        padding: 0 3em 2em 3em;
    }
}